.notebook {
  &-search {
    flex: auto;
    margin-right: 15px;
    margin-bottom: 6px;
    background-color: var(--background-primary);
  }
  &-flex {
    overflow: hidden;
    .header-QKLPzZ {
      box-shadow: 0 1px 0 0 var(--background-tertiary), 0 1px 2px 0 var(--background-tertiary);
      // The purpose of this spagetti is to get rid of the tiny border in between the notebook selector and the modal header,
      // Yes, I am aware that this is an awfully horrid way of doing things, if you would like to suggest a better way of doing this please do.
      padding-bottom: 0px;
      padding-left: 10px;
      padding-top: 15px;
    }
  }
  &-header {
    padding-bottom: 6px;
    margin-right: 0px;
    max-width: 95px;
    transform: scale(0.85);
  }
}

.notebook-flex .help-icon {
  width: 17px;
  padding-left: 0px;
  margin: 0px 14px 6px 0px;
  transition: opacity .2s ease-in-out;
  opacity: .5;
  cursor: pointer;
  color: var(--interactive-normal);
  &:hover { opacity: 1; }
}


.help-markdown {
  color: var(--text-normal);
  p {
    line-height: 1.5;
    margin: 0 0 16px;
  }
  h4 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
  }
  hr {
    margin: 12px 0px 16px 0px;
    background-color: var(--background-modifier-accent);
    height: 2px;
    border: 0;
  }
}

.sort-button {
  &-container {
    &:hover {
      .sort-button-icon &,
      .sort-button-text & {
        background-color: hsla(0,0%,100%,.05);
      }
    }  
  }
  &-icon {
    min-width: 25px;
    border-radius: 0px 3px 3px 0px;
    padding: 1px 5px 0px 2px;
  }
  &-text {
    padding-right: 3px;
    padding-left: 12px;
    border-radius: 3px 0px 0px 3px;
    padding-bottom: 4px;
  }
}

.notebook-display-left {
  display: flex;
  flex: auto;
}